body{
	background: #FC5C7D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: "Roboto";
}

.container{
	width: 400px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 5px 5px 10px #355C7D;
}

h1{
	font-weight: normal;
	background: #EECDA3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 40px;
	margin: 0;
	padding: 10px 20px;
	color: #FFF;
	text-transform: uppercase;
}

ul{
	margin: 0;
	padding: 0;
	background: #fff;
}

ul li{
	list-style: none;
	height: 40px;
	line-height: 40px;
}

ul li:nth-child(2n){
	background-color: #f7f7f7;
}

ul li:hover #delete{
	width: 40px;
	opacity: 1;
	cursor: pointer;
}

#addTask{
	width: 100%;
	border: none;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	font-size: 18px;
	color: #2980e9;
	background-color: #f7f7f7;
}

#addTask:focus{
	border: 3px solid #EF629F;
	outline: none;
}

.fa-plus{
	float: right;
	font-size: 24px;
	padding: 5px;
	cursor: pointer;
	transform: rotate(45deg);
	transition: 0.2s transform ease-in-out;
}

#delete{
	width: 0px;
	opacity: 0;
	background: #ff5e62;
	margin-right: 10px;
	display: inline-block;
	height: 100%;
	text-align: center;
	transition: 0.3s linear;
	color: white;
}

.completed{
	color: gray;
	text-decoration: line-through;
}

.rotate{
	
	transform: rotate(0deg);
}